In [1]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

###Data Description

Column | Description
:---|:---
`id` | Record index
`timestamp` | Datetime (YYYY:MM:DD HH:MM:SS) when data was collected
`country` | Current country of employment
`employment_status` | Whether a candidate is Full time, Part time, Independent or freelancer or company owner
`job_title` | Current job title of the candidate
`job_years` | Total job experience (in Years)
`is_manager` | Whether the candidate holds a managerial position or not (Yes or No)
`hours_per_week` | No. of hours per day committed to the current job
`telecommute_days_per_week` | No. of telecommuting days per week (working from home)
`education` | The highest degree in education the candidate has received
`is_education_computer_related` | Is the education related to the field of computer science (Yes or No)
`certifications` | Does the candidate have any relevant certifications (Yes or No)
`salary` | Monthly Salary (in US $$)

In [2]:
# Dataset is already loaded below
data = pd.read_csv("employee.csv")

In [3]:
# Dimensions of training data
data.shape

(4277, 13)

In [4]:
# Print first few rows of data
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [5]:
# drop id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [6]:
# Explore columns
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [7]:
# replace NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [8]:
#Handling null values in categorical columns
data = data.dropna()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

###Data Visualization :

## Feature Encoding and Normalization

Before training the model, we should perform one-hot encoding for all categorical/discrete variables, normalize continuous variables and then combine all data to form the training set.

In [10]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [11]:
# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [12]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [13]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [14]:
final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [15]:
final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Train Test Split

In [16]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

## Pre-processing data

### Standardization (Z-score normalization):

$$ x_{\text{std}} = \frac{x - \mu}{\sigma} $$

- **Purpose:** Standardization transforms the data to have a mean of 0 and a standard deviation of 1.
- **Properties:**
  - Centers the data around 0.
  - Rescales the data to have unit variance.
  - Does not bound the data within a specific range.
  - Preserves the shape of the distribution.
- **Use Cases:**
  - Algorithms that assume zero-centered data or require features to have a similar scale (e.g., gradient descent-based algorithms, support vector machines).
  - When the distribution of the features is Gaussian-like.

### Normalization (Min-Max scaling):

 $$ x_{\text{norm}} = \frac{x - \min(x)}{\max(x) - \min(x)} $$

- **Purpose:** Normalization scales the data to a fixed range, typically [0, 1] or [-1, 1].
- **Properties:**
  - Scales the data to a specified range.
  - Shifts the data to start at 0.
  - Does not affect the shape of the distribution.
  - Preserves the relative relationships between data points.
- **Use Cases:**
  - Neural networks, especially those with activation functions sensitive to input magnitudes (e.g., sigmoid or tanh functions).
  - When the distribution of the features is unknown or non-Gaussian.

**Choosing Between Standardization and Normalization:**
- Use standardization when the distribution of your features is approximately Gaussian-like and you want to center the data and rescale it to have unit variance.
- Use normalization when the scale of your features is important, or when you need to bound the features within a specific range.
- It's often beneficial to try both preprocessing techniques and evaluate their effects on model performance to determine which one works best for your specific dataset and model.

In [17]:
# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [18]:
# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [19]:
X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3728,2.785189,0,-2.192200,-0.619405,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3597,0.184998,0,0.032152,2.457756,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
1344,-0.030303,0,0.042484,-0.619405,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1771,0.271817,1,-0.490246,-0.003973,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
2254,-1.738881,1,-2.192200,-0.619405,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,-0.001411,0,0.016986,-0.619405,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3421,0.156602,0,-0.030475,-0.619405,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
2204,-1.236206,1,-0.490246,-0.619405,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
998,-0.484426,0,0.784485,-0.619405,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3877,-0.030303,0,0.042484,-0.619405,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [20]:
#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [21]:
reg.coef_

array([ 1.96497395e+02,  3.63405800e+01,  1.82198234e+02,  2.11504926e+02,
        1.03323389e+02, -3.28011821e+01,  4.40667075e+01,  1.47792889e-12,
        1.07292568e+03,  8.21151565e+02,  8.08455817e+02,  5.12811268e+02,
        9.49363844e+02,  8.34541338e+02, -9.22224889e+00, -5.96855898e-13,
        6.87640243e+02,  3.55752020e+03,  3.43585797e+02,  4.54461698e+01,
        1.71118758e+02,  3.69448077e+02, -4.11373710e+02, -1.59039214e+02])

In [22]:
reg.intercept_

6171.524899969296

Just to recall

$\hat{y} = \alpha + \beta_1 * X_1 + \beta_2 * X_2 +...$

Our Final model is given by -

$\hat{y} = 6145.79 + 1.887 * X_1 + 7.22 * X_2 +...$

In [23]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

210.6721622385044

In [24]:
# Predict on the test data
y_pred = reg.predict(X_test)

In [25]:
#Evaluate the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 10895.15428786776

*A lower MSE indicates that the model's predictions are closer to the actual values on average, while a higher MSE suggests larger errors between predictions and actual values.
❗Pre-processing on Test data not done.

In [26]:
#Q1. Preprocess Test data and get predictions

In [27]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [28]:
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3178,0.219048,0,-0.480564,2.217877,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
2551,-1.283623,0,2.429470,2.217877,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
656,0.219048,0,-0.480564,-0.654654,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2610,-0.152326,0,0.374697,1.068865,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1710,-0.281842,0,-0.480564,-0.654654,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,0.219048,0,-0.480564,-0.654654,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3336,0.219048,0,-0.480564,-0.654654,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
160,-1.784513,0,-0.480564,-0.654654,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3793,-0.411012,0,-0.227844,-0.654654,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
171,-0.483701,1,-0.451464,2.217877,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0

In [29]:
y_hat = reg.predict(X_test)

In [30]:
#Predicted Values
y_hat

array([6949.87329873, 7618.2868697 , 7084.14043426, 7796.72798684,
       6677.37648848, 7599.90253562, 7168.24552772, 6734.8574543 ,
       6042.1659753 , 6321.48997733, 6235.55847573, 6388.10196503,
       7180.36129354, 6825.87865415, 6547.68948292, 8530.59688151,
       7313.89607308, 5966.93332098, 6961.44179982, 6459.43235677,
       6900.72096172, 6965.57584366, 7455.30437479, 6784.32822081,
       7293.93238284, 6472.50170908, 7155.13368945, 6640.16449975,
       6900.72096172, 7097.56825845, 7104.46068502, 7268.93174096,
       6903.92072438, 7918.14261827, 6843.75605703, 7186.94584772,
       6575.82509768, 8154.91530359, 7680.64729955, 7231.40343115,
       6488.50014655, 7448.11725147, 6968.12129688, 7499.62928207,
       7189.82794779, 7382.65685678, 7298.0003638 , 7570.81935534,
       7165.29704274, 7202.21713712, 7191.09216659, 6685.90457245,
       7555.82169847, 6792.76735892, 6685.90457245, 7603.09239475,
       6469.04574164, 7353.49242024, 6936.10508197, 7305.27323934,
       7034.66529283, 7593.68917022, 7099.09756871, 6744.37979935,
       5754.67353233, 7034.66529283, 8045.92212548, 7402.23254728,
       6300.06326997, 7053.10834717, 7495.1370059 , 7158.92439923,
       7189.82794779, 5933.01828781, 7995.85996691, 6468.64108039,
       7535.58547396, 6367.37411136, 6786.53869541, 7285.813126  ,
       7850.8958255 , 7213.53144337, 7267.10102007, 6788.38969888,
       7561.8963219 , 7835.19142935, 7176.37134051, 7569.65902958,
       7054.07142867, 6910.73886565, 6871.09604278, 6145.89791426,
       8003.3353934 , 6575.82509768, 7080.69808278, 6453.8117764 ,
       7942.83404162, 7285.813126  , 7155.13368945, 7734.78495365,
       7113.85441845, 6531.40662637, 7762.25486969, 7644.46375128,
       7156.04348535, 8062.7407791 , 7417.37042999, 7293.93238284,
       7637.95234835, 7180.36129354, 7216.28450306, 8242.04159745,
       6694.36456661, 6632.40658776, 7813.69003213, 5340.84523338,
       6797.39757312, 7147.29861063, 6562.75574537, 7807.1564883 ,
       6472.50170908, 7271.58453932, 6738.58814812, 7051.73028814,
       6794.3696562 , 6685.90457245, 7468.80234594, 6840.41270563,
       7034.66529283, 6862.9128794 , 7011.36360612, 7696.57014282,
       7446.03624565, 7364.57633901, 6569.44333525, 7240.18209627,
       6817.50300636, 6489.05727571, 7122.45714814, 7334.3163891 ,
       5820.2852589 , 6973.67551322, 7368.79710181, 6940.58648899,
       7467.29469156, 7066.89000464, 7240.15369235, 6561.05922749,
       7661.49065681, 7403.20047691, 8375.24857916, 5938.43792545,
       7294.41555519, 6698.97392475, 7708.22596923, 7946.12961473,
       7305.27323934, 7097.56825845, 7056.08389798, 6670.79277861,
       5981.145748  , 7154.7783701 , 6993.01908802, 7184.55450389,
       6459.43235677, 7070.66058191, 6957.84033855, 6999.14461008,
       6461.54356191, 7267.10102007, 7115.30739353, 7261.76324369,
       5680.49640039, 6388.46901441, 6920.16772144, 6743.78234279,
       7030.54739784, 7095.34620091, 7639.99040943, 7507.19385835,
       5877.8223594 , 7550.92195824, 6951.44844926, 7479.63309703,
       7240.02608014, 6400.93893016, 6421.51514646, 6673.74632937,
       7489.15891307, 6683.73995951, 6656.9330221 , 7088.36381098,
       7195.99190682, 6634.94843844, 7368.84104827, 7053.21493856,
       7305.27323934, 6940.58648899, 7180.36129354, 7417.21946168,
       6587.12245219, 6923.95494625, 6797.39757312, 7237.26667906,
       7335.35120254, 8107.95178389, 6946.66874328, 6842.11813456,
       7427.84872965, 7195.69049204, 7270.4173999 , 7953.53058893,
       7147.5953368 , 7625.63107424, 7232.19758126, 6531.40662637,
       7376.93064764, 7589.96333108, 7237.26667906, 7387.94640873,
       6589.87515421, 7417.2757043 , 6891.21186335, 7173.52160033,
       7216.28450306, 6820.15535294, 6845.42266244, 6024.88730218,
       6818.50418786, 7337.29046831, 6727.21628644, 7399.33274215,
       7282.46975319, 7059.86544819, 6766.66895322, 6979.01090461,
       7661.62595168, 6728.25392311, 7495.1370059 , 6910.83169047,
       6705.68958579, 6951.44844926, 6803.1403249 , 7762.25486969,
       7073.47266644, 7602.84087014, 6746.5201385 , 8023.38575901,
       7681.07390547, 8100.26908892, 6994.24486985, 6996.40948279,
       7271.96933657, 7600.66327267, 7486.36311169, 7114.46099329,
       7053.99587588, 7818.92017533, 6843.42958655, 5747.61587034,
       6997.00427093, 7034.18569768, 7410.52255244, 7695.28934475,
       7109.02932395, 6825.56854102, 6692.72836947, 7262.12111672,
       7082.33429321, 7529.34776503, 7153.28408427, 6650.65907313,
       7606.69913309, 6609.68483021, 7281.34620288, 6685.90457245,
       7043.97522203, 6871.09604278, 7470.85327837, 6458.71151663,
       7180.36129354, 6577.69932852, 7034.66529283, 6883.31542527,
       6784.32822081, 6843.42958655, 5978.98782624, 6382.10554338,
       6840.41270563, 7056.89149433, 6346.9714637 , 7129.6875978 ,
       6856.78735734, 7293.93238284, 7909.25488197, 7279.6947291 ,
       7481.03291341, 7307.2084832 , 6694.72578066, 5749.75816909,
       7191.60530575, 7544.72216817, 7744.40317099, 6523.56526842,
       7436.4330009 , 6374.07806071, 6374.07806071, 7396.78248405,
       6881.1003954 , 7571.99423854, 6456.32360258, 6242.42762502,
       6698.97392475, 8013.84902424, 7248.9186243 , 7935.36662659,
       7206.32613183, 7162.65709724, 7425.94436372, 7832.83691853,
       7514.41178177, 7608.15084708, 7442.89283391, 7292.94805285,
       7256.60747287, 6869.35650199, 6456.32360258, 6847.1279253 ,
       7145.22163218, 7548.46863059, 7055.88734948, 6180.94659549,
       7129.6875978 , 7415.69015142, 6910.73886565, 6950.74804007,
       7328.64426566, 6306.80864154, 6909.8672546 , 7588.29760631,
       7419.92307856, 6802.29731335, 7559.59556497, 7274.79876737,
       7583.61187686, 7462.33404714, 6852.60744016, 6655.55881336,
       7303.54662477, 6501.97803938, 7046.61212444, 7832.83691853,
       7008.98801357, 6783.96974893, 7080.7441336 , 6951.44844926,
       7165.29704274, 7486.36311169, 7734.94046014, 7864.16199588,
       6900.72096172, 7064.87833983, 7697.22129862, 6867.23541409,
       8009.41001683, 6984.423784  , 6823.56514039, 6456.32360258,
       6925.10121984, 7859.91076293, 6838.92308734, 6914.21059383,
       7363.21428462, 7375.4369174 , 7574.96567421, 6733.74203467,
       7643.03971307, 6554.49388261, 6270.79242307, 6124.6426806 ,
       7319.0726441 , 7320.11315365, 7054.8604359 , 6516.36187965,
       6875.11492176, 6864.51900267, 6727.21628644, 6346.9714637 ,
       7478.65056579, 7121.21308965, 7305.27323934, 6223.06632896,
       7417.2757043 , 7154.7783701 , 7376.93064764, 8359.81963559,
       6332.13251892, 6496.09769024, 6077.41106434, 7903.77621925,
       6858.01313917, 6403.70300569, 6684.43707011, 6895.63201802,
       7094.36246688, 7215.17525912, 6664.15285439, 7289.51581496,
       7109.78725449, 6852.60744016, 7334.96421755, 7844.09922802,
       7180.36129354, 7133.87078644, 7120.74812268, 6772.67239441,
       6361.00870841, 7281.34620288, 7246.01898517, 7927.79216823,
       7268.80951523, 7375.4369174 , 7522.19151522, 6789.22796104,
       6991.12515768, 7136.70269154, 7305.27323934, 7429.85705797,
       5976.24600777, 6690.44584079, 6158.37247842, 7658.89377517,
       7034.66529283, 7330.98740527, 7558.97327916, 7417.85476435,
       7189.62466425, 7705.12278146, 6642.48946106, 6304.800669  ,
       6759.60304211, 7534.21539887, 6441.99430523, 5933.01828781,
       7126.49272759, 7572.11928343, 5829.50750778, 6994.24486985,
       6939.04101795, 7467.29469156, 6635.06945763, 6173.0933045 ,
       6871.50818342, 7365.23019656, 7293.93238284, 7267.10102007,
       7180.36129354, 7034.66529283, 7180.36129354, 6778.67772761,
       6656.9330221 , 6723.18178936, 6939.04101795, 6187.24866791,
       7168.12302905, 7462.33404714, 7704.914828  , 7094.36246688,
       6692.72836947, 5850.81835157, 6871.09604278, 7327.60072806,
       7293.93238284, 5929.21567656, 7241.37350763, 6040.4179342 ,
       7146.10100481, 6578.54234007, 7970.85159991, 7704.914828  ,
       6332.13251892, 6490.84805153, 7335.90953025, 7115.75577446,
       6580.22242123, 7048.87496226, 7030.61876116, 5864.39453521,
       6575.82509768, 7375.32717719, 7002.70486402, 6939.04101795,
       7216.28450306, 7697.0331821 , 6369.94060124, 6091.8701108 ,
       7073.06150321, 6980.81704566, 6951.44844926, 6852.46629128,
       8138.07717124, 7195.99190682, 7034.66529283, 7039.26746501,
       6843.42958655, 7180.36129354, 7191.09216659, 6843.42958655,
       7010.79446339, 6635.06945763, 7701.80062575, 6490.84805153,
       6708.99182868, 6900.72096172, 6734.8574543 , 7166.32418855,
       7120.74812268, 7436.4330009 , 7267.10102007, 5783.15850322,
       7285.813126  , 7189.62466425, 7115.75577446, 7744.38257777,
       7080.72271623, 7154.7783701 , 7115.75577446, 6927.37286444,
       7410.23778173, 7267.10102007, 7662.77029904, 6877.87001385,
       6961.16853066, 6971.67075278, 6697.1637608 , 7150.01585302,
       6697.1637608 , 7496.65784641, 7446.2985198 , 6967.15258752,
       6239.16793142, 8033.38827672, 7165.29704274, 7126.49272759,
       7705.12278146, 6840.41270563, 7053.19668733, 6525.39785569,
       6959.70918903, 7534.24386851, 7219.07916305, 6999.30832107,
       6164.16141167, 7502.21334661, 7046.61212444, 7106.11866004,
       7048.77673738, 6728.25392311, 7398.23419804, 6992.27707499,
       7034.66529283, 7508.38158819, 7876.48626397, 7216.28450306,
       7079.79729732, 5887.48179144, 7180.36129354, 6887.65160941,
       6705.47064494, 7239.5162263 , 6746.5201385 , 7180.36129354,
       8036.73430654, 7166.32418855, 6049.94447743, 7754.85313364,
       7485.45221264, 7638.13997284, 7028.94752736, 7659.62585058,
       7330.75613517, 6600.55027638, 7180.36129354, 7148.26338397,
       7503.3757445 , 7588.29760631, 6173.0933045 , 7165.29704274,
       6999.14461008, 6292.20997898, 7254.47940522, 8146.44360139,
       6595.6776418 , 7559.29578262, 6340.15416279, 7034.66529283,
       7114.46099329, 7161.93028692, 6965.57584366, 6923.80821795,
       6335.86832129, 6428.08323777, 5991.34601787, 7046.61212444,
       7387.93946332, 6972.31977164, 7601.79939286, 7034.66529283,
       6821.77783124, 6910.83169047, 6690.80431268, 7422.6066058 ,
       6650.65907313, 6276.4166931 , 7122.8701581 , 6994.24486985,
       7066.89000464, 7864.16199588, 6723.18178936, 6683.73995951,
       7180.36129354, 6496.67425833, 7864.16199588, 7322.58026792,
       6949.90680664, 7260.65791335, 7219.07916305, 6731.57614885,
       7595.00279539, 7630.40864307, 7255.41974303, 6899.2207282 ,
       7094.36246688, 7030.61876116, 6489.05727571, 7517.17024054,
       6830.50273328, 7305.26827692, 7186.48280845, 7069.36933762,
       7246.37753436, 7146.10100481, 6895.63201802, 8031.29980175,
       6653.10339034, 6962.73407986, 7559.29578262, 6458.71151663,
       7180.36129354, 7129.71784261, 7559.29578262, 7511.83573867,
       6512.14453195, 7097.56825845, 7524.74345044, 7268.93174096,
       7590.06922798, 7734.75806158, 6710.27275686, 7350.13138101,
       6612.85099082, 7499.62928207, 6703.87366498, 7114.73096012,
       7699.26142148, 7182.92255451, 5594.85212873, 7092.66851822,
       6994.44168793, 5848.19744046, 8427.37959637, 6880.58725624,
       7018.62512798, 7297.88224511, 8809.02228438, 7180.36129354,
       6941.53664711, 7220.88079651, 7705.12278146, 6912.03186754,
       6871.50818342, 7327.60072806, 7358.97440174, 7922.97679834,
       6212.19328556, 7560.75055278, 7178.02281428, 7486.63994248,
       6049.94447743, 7332.50046829, 6378.47538427, 6727.21628644,
       7098.07606708, 7547.53528103, 7066.89000464, 7267.10102007,
       6036.86157382, 7232.19758126, 6798.63159381, 6784.32822081,
       7680.46729732, 6052.29094967, 6871.09604278, 7311.13380632,
       7135.65317156, 7114.11785198, 7101.12851239, 6900.72096172,
       6939.04101795, 6453.64342352, 8278.92886965, 7809.95518437,
       6817.07490909, 6270.79242307, 7267.10102007, 7507.19385835,
       7634.70909545, 7754.85313364, 6994.24486985, 7486.37380175,
       6395.53336757, 7498.44155224, 7097.56825845, 6549.77811382,
       5897.88010887, 7638.13997284, 6722.24515243, 7645.40232611,
       6650.65907313, 7158.97673616, 7565.84091573, 7471.64228561,
       6052.29094967, 7034.66529283, 7130.75343133, 7695.24996463,
       6581.13697855, 6724.09223942, 7115.75577446, 6697.1637608 ,
       7453.4547696 , 6664.15285439, 7043.01043053, 7115.30739353,
       6697.1637608 , 7669.16430433, 7161.46724765, 6994.24486985,
       7262.12111672, 7034.18569768, 7084.63612415, 6261.86421989,
       7369.95906913, 7216.28450306, 7026.33903349, 7133.34845776,
       7305.27323934, 7259.89089602, 6950.74804007, 5815.73929101,
       6963.83140564, 7001.29611285, 7403.98065779, 7066.98687978,
       7327.60072806, 7034.66529283, 6852.46629128, 6734.8574543 ,
       6581.29394293, 7735.66041078, 7165.29704274, 7067.94333951,
       7417.2757043 , 7815.33681954, 6489.05727571, 7086.13526456,
       7375.32717719, 6686.28667529, 6218.16658873, 6703.87366498,
       6727.21628644, 7258.97999697, 7482.44601988, 6787.06334811,
       7465.62871651, 7751.62867607, 7034.66529283, 7419.39314971,
       7203.01443645, 8278.92886965, 6907.78019816, 6360.28786826,
       7835.19142935, 8156.54204427, 7215.47242471, 6361.38231193,
       7276.64459405, 7115.75577446, 6622.21329212, 7216.28450306,
       6544.06581269, 6939.04101795, 6794.6520585 , 7034.66529283,
       7001.29611285, 7429.33235425, 7237.38479775, 6792.69465097,
       7645.40232611, 6327.81001026, 6697.1637608 , 6041.76131405,
       7020.10715018, 7423.06136591, 7111.05358731, 7529.32850527,
       6844.94378686, 6963.83140564, 6925.10121984, 7593.68917022,
       7166.36698788, 7946.12961473, 6820.04948227, 8106.73517556,
       7084.49890615, 6829.55516223, 7662.42851022, 7593.68917022,
       6862.9128794 , 6454.93642541, 7448.55502937, 7166.36698788,
       8115.9361112 , 7427.06791403, 6490.84805153, 7031.99300236,
       6490.84805153, 6706.44287014, 7113.85441845, 7267.10102007,
       7174.61925177, 7903.42179218, 7340.59006766, 6832.08594327,
       6445.64216432, 7499.85456075, 7539.64396312, 6583.17597199,
       7097.56825845, 7256.60747287, 6771.101198  , 7168.25892451,
       6970.54111265])

In [31]:
# Normalized Mean Absolute Error (Dividing by mean)
mae_test= mean_absolute_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Abosulte Error: ",mae_test)

Test Mean Abosulte Error:  0.11835507939743488

In [32]:
# Normalized Mean Squared Error (Dividing by mean)
mse_test = mean_squared_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Squared Error: ",mse_test)

Test Mean Squared Error:  202.20592641178754